 body {
    margin: 30px;
    font-family: "Georgia", serif;
    line-height: 1.8em;
    color: #333;
    background:black;
}
 
/* Give headings their own font */
p.hidden {visibility: hidden;}
h1, h2, h3, h4 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: red;
    text-align: center;
}
p {
    color:red;
}
h2.tagged {
    position: relative;
    top: 50px;
}

li {
    width:120px; 
    height:120px; 
    margin:3px;
    cursor:pointer;
    text-align:center;
    list-style: none;
}

#wrapper {
    width:960px;
    margin:0px auto;
    position: relative;
}

/* Main content area */
 
#fruitSpellCheck {
    margin: 10px 70px;
    text-align: center;
}
#output {
    border: 2px solid pink;
    border-radius: 10px;
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    background: white;
    margin: 10px 70px;
    text-align: center;
    color:orange;
    position: absolute;
    top:25px;
    left:-330px;
}
#gameRules {

    border: 2px solid pink;
    border-radius: 10px;
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    background: white;
    margin: 10px 70px;
    text-align: left;
    color:red;
    position: absolute;
    top:450px;
    left:-330px;
}
#solution_title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    color:red;
    text-align: center;
    top: 50px;
}
.listcontainer {
    width: 800px;
    height: 120px;
}
footer {
    background-color: #FF0000;
    border: 2px solid grey;
    bottom: 0;
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;   
    color:yellow;
    text-align: right;
}
#selectedFruit {
    margin: 30px auto 0 auto;
    opacity: 1;
    width: 80px;
    height: 90px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 100%;
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
    background-position:center;
 
}
#degreeOfDifficulty {
    width: 100px;
    height: 30px;
    top:0px;
    left:960px;
    position: absolute;
}
.fruits {
    width: 120px;
    height: 110px;
    margin: 2px;
    float: left;
    cursor: pointer;
    border: 2px solid #333;;

}
#selectedFruit.APPLE {
    background-image: url("../images/apple.jpg");
}
#selectedFruit.ORANGE {
    background-image: url("../images/orange.jpg");
}
#selectedFruit.AVOCADO {
    background-image: url("../images/avocado.jpg");
}
#selectedFruit.LEMON {
    background-image: url("../images/lemon.jpg");
}
#selectedFruit.STRAWBERRY {
    background-image: url("../images/strawberry.jpg");
}
#selectedFruit.GRAPES {
    background-image: url("../images/grapes.jpg");
}
#selectedFruit.BANANA {
    background-image: url("../images/banana.jpg");
}
#selectedFruit.BLUEBERRY {
    background-image: url("../images/blueberry.jpg");
}
#selectedFruit.RASPBERRY {
    background-image: url("../images/raspberry.jpg");
}
#selectedFruit.PINEAPPLE {
    background-image: url("../images/pineapple.jpg");
}
#selectedFruit.WATERMELON {
    background-image: url("../images/watermelon.jpg");
}
/* Slots for final letters positions */
 
#letterSlots {
    margin: 50px auto 0 auto;
    background: rgba(237, 255, 221, 0.9);
    opacity: 1;
    position:relative;
}
.hidden {
    visibility: hidden;
} 
/* The initial pile of shuffled letters */
 
#letterPile {
    margin: 50px auto 0 auto;
    background: #E7E7DA;
}

#letterSlots, #letterPile {
    width: 910px;
    height: 130px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 .3em rgba(0, 0, 0, .8);

}
 
/* rc: Rules for div's within #letterSlots/#letterPile
** rc: See: CSS descendant selectors: 
** rc: http://www.w3.org/TR/CSS2/selector.html#descendant-selectors; 
*/

#letterSlots div, #letterPile div {
    float: left;
    width: 50px;
    height: 58px;
    padding: 10px;
    padding-top: 35px;
    padding-bottom: 10px;
    border: 2px solid #333;
    border-radius: 100%;
    margin: 10px 0 0 10px;
    background: #fff;
    text-align: center;
}

#letterSlots div.drop-hover {
    background: yellow;
}
 
#letterSlots div {
    border-style: dashed;
}
 
#letterPile div {
    background: #666;
    color: #fff;
    font-size: 50px;
    text-shadow: 0 0 3px #000;
    cursor: pointer;
}

#letterPile div.ui-draggable-dragging {
  box-shadow: 0 0 .8em rgba(10, 10, 10, .8);
  background-color: lightblue;
}

.ui-state-disabled {
    opacity: 1;
}

/* rc: Individually colored letters - could not think of a smart way to generate this in js*/
#A.correct { background: #C9FFE5; }
#B.correct { background: #F4C2C2; }
#C.correct { background: #0047AB; }
#D.correct { background: #FF7F50; }
#E.correct { background: #986960; }
#F.correct { background: #4A5D23; }
#G.correct { background: #FFA812; }
#H.correct { background: green; }
#I.correct { background: blue; }
#J.correct { background: red; }

#K.correct { background: purple; }
#L.correct { background: violet; }
#M.correct { background: magenta; }
#N.correct { background: lime; }
#O.correct { background: orange; }

#P.correct { background: red; }
#Q.correct { background: brown; }


#R.correct { background: purple; }
#S.correct { background: violet; }
#T.correct { background: magenta; }
#U.correct { background: lime; }
#V.correct { background: violet; }

#W.correct { background: #4A5D20; }
#X.correct { background: yellow; }
#Y.correct { background: brown; }
#Z.correct { background: white; }

